#EGA-createCollabButton {
  position: relative;
  left: 20%;
  top: 260px;
}
#EGA-activeCollabsButton {
  position: relative;
  left: 63%;
  top: 100px;
}
#EGA-documentation {
  position: relative;
  top: 390px;
  left: 850px;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
}

#EGA-splashBackground {
  background: rgb(37, 37, 37);
  width: 100%;
  height: 100%;
  color: white;
}

.EGA-buttonColor {
  color: white !important;
  border: 1px solid white !important;
  background: rgb(37, 37, 37) !important;
  padding: 8px 16px;
  font-size: 0.875rem;
  min-width: 64px;
  box-sizing: border-box;
  min-height: 36px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-weight: 500;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  border-radius: 4px;
  text-transform: uppercase;
}

.topLine {
  position: absolute;
  left: 50px;
  top: 180px;
  width: 2px;
  height: 2px;
  background: white;
  transition: width 1s ease;
}
.topLineDeployed {
  width: 860px;
}
.topLineVertical {
  position: absolute;
  left: 910px;
  top: 147px;
  width: 2px;
  height: 2px;
  background: white;
  transition: height 1s ease;
}
.topLineVerticalDeployed {
  height: 35px;
}

.bottomLine {
  position: absolute;
  left: 50px;
  top: 220px;
  width: 2px;
  height: 2px;
  background: white;
  transition: width 1s ease;
}
.bottomLineDeployed {
  width: 250px;
}

.bottomVert {
  position: absolute;
  left: 50px;
  top: 220px;
  width: 2px;
  height: 2px;
  background: white;
  transition: height 1s ease;
}
.bottomVertDeployed {
  height: 35px;
}
