#EGA-createCollabButton {
  position: absolute;
  right: 20%;
  top: 200px;
}
#EGA-activeCollabsButton {
  position: absolute;
  left: 10%;
  top: 350px;
}

#EGA-splashBackground {
  background: rgb(37, 37, 37);
  width: 100%;
  height: 100%;
  color: white;
}

.EGA-buttonColor {
  color: white !important;
  border: 1px solid white !important;
}

.topLine {
  position: absolute;
  left: 0;
  top: 280px;
  width: 2px;
  height: 2px;
  background: white;
  transition: width 1s ease;
}
.topLineDeployed {
  width: 830px;
}
.bottomLine {
  position: absolute;
  left: 0;
  top: 300px;
  width: 2px;
  height: 2px;
  background: white;
  transition: width 1s ease;
}
.bottomLineDeployed {
  width: 200px;
}
